<mat-toolbar class="mat-primary mat-toolbar-color-primary">
  <button mat-icon-button class="custom-button" (click)="goBack()">
    <mat-icon >arrow_back</mat-icon>
  </button>
  <span class="toolbar-title">{{ title }}</span>
  <div class="spacer">
    <h1>Indicadores</h1>
  </div>
</mat-toolbar>
<div style="padding: 16px;">
    <div>
      <h1 class="celest-text"> 
        {{
          codigo === 'uf' ? '$' :
          (codigo === 'dolar_intercambio' || codigo === 'dolar') ? '$' :
          (codigo === 'euro' || codigo === 'bitcoin') ? '$' :
          (codigo === 'ivp' || codigo === 'utm') ? '$' :
          (codigo === 'tasa_desempleo' || codigo === 'tpm') ? '%' :
          (codigo === 'imacec' || codigo === 'tpm') ? '$' :
          (codigo === 'libra_cobre') ? '$' :
          (codigo === 'ipc' ? '%' : '')
        }} 
        {{ valor }}
      </h1>
      <div class="label-container">
        <label for="title">Nombre:</label>
        <label for="title">{{ title }}</label>
      </div>
      <div class="label-container">
        <label for="date">Fecha:</label>
        <label for="dates">{{ formatearFechas(date) }}</label>
     
      </div>
      <div class="label-container">
        <label for="unity">Unidad de Medida:</label>
        <label for="unidad">{{ unity }}</label>
      </div> 
    </div>
</div>

<!-- <div style="display: block;">
  <canvas baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [colors]="chartColors"
    [legend]="chartLegend"
    [chartType]="chartType"
    [plugins]="chartPlugins">
  </canvas> -->
<!-- </div> -->

